# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Github Actions dependabot checks
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/setup-environment"
    schedule:
      interval: "weekly"
    assignees:
      - "jordanshatford"
    groups:
      github-actions:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "jordanshatford"
    groups:
      github-actions:
        patterns:
          - "*"

  # API dependabot checks
  - package-ecosystem: "pip"
    directory: "/apps/api"
    schedule:
      interval: "weekly"
    assignees:
      - "jordanshatford"
    groups:
      api-python:
        patterns:
          - "*"

  # Core dependencies
  - package-ecosystem: "pip"
    directory: "/core"
    schedule:
      interval: "weekly"
    assignees:
      - "jordanshatford"
    groups:
      core-python:
        patterns:
          - "*"

  # NPM dependabot checks
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "jordanshatford"
    groups:
      prod-npm:
        dependency-type: "production"
      dev-npm:
        dependency-type: "development"

  # Docker dependabot checks
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "jordanshatford"
    groups:
      docker:
        patterns:
          - "*"
