version: '3'

services:
  api:
    build:
      context: ./apps/api
      target: production
      args:
        DOCKER_BUILDKIT: 1
    image: yd/api:latest
    restart: always
    environment:
      ALLOWED_ORIGIN: http://localhost:5173
    ports:
      - 8080:8080
  web:
    build:
      context: .
      target: production
      args:
        DOCKER_BUILDKIT: 1
    image: yd/web:latest
    restart: always
    environment:
      VITE_SERVER_ADDR: http://localhost:8080
    ports:
      - 5173:5173
    depends_on:
      - api
