@import 'tailwindcss';

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-brand-50: var(--color-blue-50);
	--color-brand-100: var(--color-blue-100);
	--color-brand-200: var(--color-blue-200);
	--color-brand-300: var(--color-blue-300);
	--color-brand-400: var(--color-blue-400);
	--color-brand-500: var(--color-blue-500);
	--color-brand-600: var(--color-blue-600);
	--color-brand-700: var(--color-blue-700);
	--color-brand-800: var(--color-blue-800);
	--color-brand-900: var(--color-blue-900);
	--color-brand-950: var(--color-blue-950);
}

@utility max-w-xxs {
	max-width: 14rem;
}

@utility max-w-xxxs {
	max-width: 10rem;
}

@source "../**/*.{svelte,js,ts,jsx,tsx}"
@source "../../../apps/*/src/**/*.{svelte,js,ts,jsx,tsx}";
@source "../../../packages/*/src/**/*.{svelte,js,ts,jsx,tsx}";
